
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
  <link href='//api.tiles.mapbox.com/mapbox.js/v1.6.0/mapbox.css' rel='stylesheet' />
  <script src='//api.tiles.mapbox.com/mapbox.js/v1.6.0/mapbox.js'></script>

  <style>#map-basic { position:absolute; width:100%; height:100%; }</style>


<div id='map-storytelling'></div>
  <script>
  var mapstories = L.mapbox.map('map-storytelling', 'alexshook.h077lbpb');
  var chapters = [];
  var markers = L.mapbox.markerLayer()
    .loadURL('https://a.tiles.mapbox.com/v3/alexshook.h077lbpb/markers.geojson')
    .addTo(mapstories);

  mapstories.markerLayer.on('ready', function(e) {
      markers.eachLayer(function(chapter) {
        chapters.push(chapter);
      });

      cycle(chapters);
  });

  function cycle(chapters) {
    var i = 0;
    function run() {
      if (chapters.length) {
        if (++i > chapters.length - 1) i = 0;
        var c = chapters[i].feature.geometry.coordinates;
        mapstories.setView([c[1], c[0]], 13);
        chapters[i].openPopup();
      }
      window.setTimeout(run, 3000);
    }

    run();
  }

}
</script>