<div class="col-md-6">
	<h2>City Experts</h2>

	<% @users.each do |user| %>
		<div><%= image_tag user.avatar.url(:thumb) %></div>
		<div><%= user.first_name %> lives in <%= user.location %></div>
		<br />
	<% end %>
</div>