<body background="http://farm6.staticflickr.com/5258/5536165785_e2c3182a4a_b.jpg" alt="Sakurajima" style="background-size: cover">

<div>

	<h2>Don’t get caught in a tourist trap. Ask a local.</h2>

	<p>Retourist is a resource for people who have already been to the main tourist attractions in a city and are seeking new and unique experiences.</p>

</div>