<div id="globe">

	<span class="glyphicon glyphicon-globe img-responsive"></span>

</div>

<div id="indexpage">

	<p>Seen the tourist attractions? Great. </p>
	
	<p>Now get recommendations from a local.</p>

</div>