<!-- img responsive tag doesn't work for background -->
<body background="http://farm4.staticflickr.com/3792/11821175215_c4d71fce3b_h.jpg"  alt="New York City skyline after sunset" class="img-responsive" style="background-size: cover">
<br />
<div style="text-align: center;">
	<h2>Seen the tourist attractions? Great. Now get recommendations from a local.</h2>
</div>