<!-- <body background="http://farm4.staticflickr.com/3792/11821175215_c4d71fce3b_h.jpg"  alt="New York City skyline after sunset" class="img-responsive" style="background-size: cover"> -->
<div id="test" style="text-align: center;">
	<h2>Seen the tourist attractions? Great. Now get recommendations from a local.</h2>
</div>
<!-- 
<div id="carousel-index" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-index" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-index" data-slide-to="1"></li>
    <li data-target="#carousel-index" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="http://farm4.staticflickr.com/3792/11821175215_c4d71fce3b_h.jpg" alt="New York City skyline after sunset" class="img-responsive">
    </div>
    <div class="item">
      <img src="http://farm3.staticflickr.com/2389/2311968821_02406536b7_o.jpg" alt="Lanterns at Fushimi Inari" class="img-responsive">
    </div>
    <div class="item">
      <img src="http://farm4.staticflickr.com/3645/3615847616_2f61b2e36b_o.jpg" alt="Palm trees at sunset in Curacao" class="img-responsive">
    </div>
  </div>
</div> -->
<!-- <br />
<br />
<br />
<div id="mid">
	<h2>Don’t get caught in a tourist trap. Ask a local.</h2>
	<h3>Retourist is a resource for people who have already been to the main tourist attractions in a city and are seeking a more authentic experience.</h3>
</div> -->


<script>
	$(document).ready(function)() {
		$('carousel').carousel();
	};
</script>